/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/07/2020, 00:42:10
    Author     : Lucas
*/

.inputcss{
    width: 50%;
    background-color: red;
}